{% extends 'layouts/base.html' %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>

.message11 {
  cursor: pointer;
  background-image: linear-gradient(190deg, #f83600 0%, #fee140 100%);
  color: #fff;
  width: 180px;
  text-align: center;
  font-size:16px;
  padding: 18px 0;
  margin: 0 auto;
  transition:background-image 3s ease-in-out;
}
.message11:hover{
  transition:background-image 3s ease-in-out;
  background-image: linear-gradient(90deg, #fee140 0%, #f83600 100%);
}

.custom-model-main {
  text-align: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; /* z-index: 1050; */
  -webkit-overflow-scrolling: touch;
  outline: 0;
  opacity: 0;
  -webkit-transition: opacity 0.15s linear, z-index 0.15;
  -o-transition: opacity 0.15s linear, z-index 0.15;
  transition: opacity 0.15s linear, z-index 0.15;
  z-index: -1;
  overflow-x: hidden;
  overflow-y: auto;
}

.model-open {
  z-index: 99999;
  opacity: 1;
  overflow: hidden;
}

.custom-model-inner {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  display: inline-block;
  vertical-align: middle;
  width: 320px;
  margin: 30px auto;
  max-width: 97%;
}
.custom-model-wrap {
  display: block;
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
  text-align: left;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-height: calc(100vh - 70px);
	overflow-y: auto;
}
.model-open .custom-model-inner {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  position: relative;
  z-index: 999;
}

.model-open .bg-overlay {
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
}
.bg-overlay {
  background: rgba(0, 0, 0, 0);
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-transition: background 0.15s linear;
  -o-transition: background 0.15s linear;
  transition: background 0.15s linear;
}

.close-btn {
  position: absolute;
  right: 0;
  top: -30px;
  cursor: pointer;
  z-index: 99;
  font-size: 30px;
  color: #fff;
}

@media screen and (min-width:800px){
	.custom-model-main:before {
	  content: "";
	  display: inline-block;
	  height: auto;
	  vertical-align: middle;
	  margin-right: -0px;
	  height: 100%;
	}
}
@media screen and (max-width:799px){
  .custom-model-inner{margin-top: 45px;}
}
</style>
{% endblock stylesheets %}

{% block content %}

<!--div class="col-12">
  <div class="card card-chart">
    <div class="card-header ">
      <div class="row">
        <div class="col-sm-6 text-left">
          <h5 class="card-category">Total Shipments</h5>
          <h2 class="card-title">Performance</h2>
        </div>
        <div class="col-sm-6">
          <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
            <label class="btn btn-sm btn-primary btn-simple active" id="0">
              <input type="radio" name="options" checked>
              <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Accounts</span>
              <span class="d-block d-sm-none">
                <i class="tim-icons icon-single-02"></i>
              </span>
            </label>
            <label class="btn btn-sm btn-primary btn-simple" id="1">
              <input type="radio" class="d-none d-sm-none" name="options">
              <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Purchases</span>
              <span class="d-block d-sm-none">
                <i class="tim-icons icon-gift-2"></i>
              </span>
            </label>
            <label class="btn btn-sm btn-primary btn-simple" id="2">
              <input type="radio" class="d-none" name="options">
              <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Sessions</span>
              <span class="d-block d-sm-none">
                <i class="tim-icons icon-tap-02"></i>
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="chart-area">
        <canvas id="myChart2"></canvas>
      </div>
    </div>
  </div>
</div>


    <div class="row">
      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Total Shipments</h5>
            <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> 763,215</h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="myChart3"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Daily Sales</h5>
            <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i> 3,500€</h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="CountryChart"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Completed Tasks</h5>
            <h3 class="card-title"><i class="tim-icons icon-send text-success"></i> 12,100K</h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="chartLineGreen"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div-->




<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title">Evaluaciones Realizadas</h4>
      </div>

      <div class="custom-model-main">
        <div class="custom-model-inner">
           <div class="close-btn">×</div>
           <div class="custom-model-wrap">
              <div class="pop-up-content-wrap">
                 <h2 style="color:black;text-align: center;">¡Excelente!</h2>
                 <h4 style="color: black; text-align: center;">Ahora solo falta tu firma y la firma de tu evaluado, por favor envia el documento a </h4><a style="color: black; font-weight: bold; font-size: 18px; margin-left: 110px;" href="mailto:jimena.sanchez@e2etechnologysolutions.com">Jime</a><h4 style="color: black; text-align: center;"> una vez se encuentre firmado. ¡Gracias!</h4>
              </div>
           </div>
        </div>  
        <div class="bg-overlay"></div>
     </div>  


      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  RELACIÓN
                </th>
                <th>
                  COLABORADOR EVALUADO
                </th>
                <th>
                  TEAM
                </th>
                <th>
                  CARGO
                </th>
                <th>
                  FECHA EVALUACIÓN
                </th>
                <th>
                  PUNTAJE GENERAL
                </th>
                {% if request.user.is_staff%}
                  <th>
                    EVALUADOR
                  </th>
                {%endif%}
                <th>
                  EDITAR
                </th>
                <th>
                  GENERAR PDF
                </th>
                {% if request.user.is_staff%}
                <th>
                  ELIMINAR
                </th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
                {% for int in int_list %}
                    <tr>
                        <td>{{int.relation}}</td>
                        <td>{{int.evaluated.first_name}} {{int.evaluated.last_name}}</td>
                        <td>{{int.evaluated.team}}</td>
                        <td>{{int.evaluated.jobname}}</td>
                        <td>{{int.dated}}</td>
                        <td>{{int.result}}</td>
                        {% if request.user.is_staff%}
                          <td>{{int.evaluator.first_name}} {{int.evaluator.last_name}}</td>
                        {%endif%}
                        <td>
                            <a href="{% url 'int_update' int.id 0%}">
                                
                                <button  class="btn">
                                  <i class="far fa-edit"></i>
                                </button>
                            </a>
                    
                        </td>
                        <td>

                

                          <a href="{% url 'export_pdf' int.id %}" class="message1">
                            <button  class="btn">
                              <i class="tim-icons icon-cloud-download-93 fa-lg"></i>
                            </button>
                           </a> 
                        </td>
                        <td>
                            {% if request.user.is_staff%}
                              <form action="{% url 'int_delete' int.id %}" method="post" class="d-inline">
                                  {% csrf_token %}
                                  <button type="submit" class="btn">
                                      <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                                  </button>
                              </form>
                            {%endif%}
                        </td>


                    </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
$(document).ready(function(){
  $("#")
})
    $(".message1").on('click', function() {
      $(".custom-model-main").addClass('model-open');
    }); 
    $(".close-btn, .bg-overlay").click(function(){
      $(".custom-model-main").removeClass('model-open');
    });

</script>
{% endblock javascripts %}